<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <title>Index | Framework</title>
  </head>
  <body>
    <h1>This is index page</h1>

    <p><%= @time %></p>

    <ul>
      <% @articles.each do |article| %>
        <li><%= article.title %> (<%= article.body %>)</li>
      <% end %>
    </ul>
  </body>
</html>
