<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <title>Show | Framework application</title>
  </head>
  <body>
    <h1>This is one article</h1>

    <p><%= @article.title %></p>
    <p><%= @article.body %></p>
  </body>
</html>
